<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReviseServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ReviseServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44347/ReverseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReviseServiceSoap"
                contract="ReverseService.ReviseServiceSoap" name="ReviseServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>